<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>投顾详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no">
</head>
<body>
    <main id="tgxq"></main>
    <script src="../../../dist/scripts/common.js"></script>
    <script src="../../../dist/scripts/tgxq.js"></script>
</body>
</html>
